---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import Socials from "@components/Socials.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content" class="mx-auto mt-24 w-full grid grid-cols-8 gap-8 px-4 pb-12 z-10 bg-skin-fill">

    <div class="col-span-8 -mt-7 -mx-4">
      <section id="hero" class="aspect-[3/4] sm:aspect-video bg-gradient-to-tr from-[#7366ff] to-75% to-[#37003c] relative max-w-full px-0 !pb-0 mb-4 grid items-center [&>img]:w-full overflow-hidden">

        <img src="/assets/messi.png" alt="hero image" class="absolute top-0 -left-10 sm:left-[20%] sm:!w-1/2 opacity-25 cover">
        <img src="/assets/haaland.png" alt="hero image" class="absolute bottom-0 sm:-bottom-16 sm:-left-16 !w-[70%] img">
        <img src="/assets/Logo_Pes2021.png" alt="hero image" class="absolute top-14 right-8 sm:top-16 sm:right-20 !w-1/4 cover">

        <h1 class="absolute max-sm:mix-blend-luminosity bottom-28 right-8 sm:bottom-6 max-w-lg lg:max-w-3xl text-right sm:right-12 lg:bottom-16 lg:right-20 text-white max-sm:!text-4xl lg:!text-7xl -tracking-wider">
          Enjoy your own journey, 
          <!-- through football history -->with an <span class="text-gradient uppercase font-black -tracking-widest sm:mt-5 inline-block">amazing experience</span></h1>

        <div class="px-4 lg:pl-0 lg:mr-0">
          <!-- <h1>PES 2021 patch, mods, tutorial, and more another stuff...</h1> -->
          <!-- <a
            target="_blank"
            href="/rss.xml"
            class="rss-link"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
              ><path
                d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
              ></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
              ></path><circle cx="6" cy="18" r="2"></circle>
            </svg>
          </a> -->
      
        </div>

        
      </section>
      <!-- <Hr noPadding={true} /> -->
    </div>
    <div class="col-span-8 lg:col-start-2 lg:col-span-6 max-w-full px-0">
      <h2 class="font-black text-4xl mb-4">For all football lovers,</h2>
      <p>
         you must be familiar with the game Pro Evolution Soccer. Therefore, PESMania presents the best add-ons and updates for all PES gamers, to keep them enthusiastic and have high enthusiasm. With this, PESMania also strives to be the best platform for those looking for the best football simulator in the world. 
        We share the latest module that allows having multiple scoreboards for any competition or league. The latest patch could see all licensed teams with official names, logos, kits and more.
      </p>
      
      <!-- {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>  
            <Socials />
          </div>
        )
      } -->

      {
        featuredPosts.length > 0 && (
          <>
            <section id="featured" class="max-w-full px-0">
              <h2 class="text-gradient pr-4 whitespace-nowrap sm:!font-black !text-4xl sm:!text-7xl lg:!text-[160px] sm:right-0 !-tracking-widest lg:-mb-14 md:-mr-10 lg:opacity-50">
                Featured
              </h2>
                <ul class="grid gap-y-0 sm:grid-cols-2 sm:gap-x-8 lg:gap-x-12 [&>li:first-child]:sm:col-span-2 [&>li:first-child>a>span>h3]:text-2xl [&>li:first-child>a>span>h3]:lg:text-5xl [&>li:first-child>a>span>h3]:sm:text-3xl">
                  {featuredPosts.map(({ data }) => (
                    <Card
                      href={`/posts/${slugify(data)}`}
                      frontmatter={data}
                      secHeading={false}
                      desc={false}
                    />
                  ))}
                </ul>
            </section>
            <Hr noPadding={true} />
          </>
        )
      }

      <section id="recent-posts" class="max-w-full px-0">
        <h2 class="text-gradient pr-4 whitespace-nowrap sm:!font-black !text-4xl sm:!text-7xl lg:!text-[160px] sm:right-0 !-tracking-widest lg:-mb-14 md:-mr-10 lg:opacity-50">
          Recent Posts
        </h2>
        <ul class="grid gap-y-0 sm:grid-cols-2 sm:gap-x-8 lg:gap-x-12 [&>li:first-child]:sm:col-span-2 [&>li:first-child>a>span>h3]:text-2xl [&>li:first-child>a>span>h3]:lg:text-5xl [&>li:first-child>a>span>h3]:sm:text-3xl">
          {
            sortedPosts
              .filter(({ data }) => !data.featured)
              .map(
                ({ data }, index) =>
                  index < 5 && (
                    <Card
                      href={`/posts/${slugify(data)}`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )
          }
        </ul>
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts" className="group inline-block group items-center [&>p]:!m-0 px-5 py-2 !text-skin-inverted [&>p]:!text-skin-inverted hover:!text-skin-accent [&>p>svg]:text-skin-inverted [&>p:hover>svg]:text-skin-accent bg-skin-accent rounded-full !decoration-transparent hover:bg-skin-fill border border-skin-accent transition duration-500 astro-5eunqzkt">
            All Posts
            <svg fill="none" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" fill="currentColor"
              ></path>
            </svg>
          </LinkButton>
        </div>
      </section>
    </div>
  </main>
  <hr class="border-skin-line mb-44 sm:mb-[75px]" />

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>

<script is:inline src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>

<script>

  function imgParallax(){
   
        var image = document.querySelector('.cover');
        var image2 = document.querySelectorAll('.img');
        // @ts-ignore
        new simpleParallax(image, {
          overflow: true,
          orientation: 'down',
          maxTransition: 80
        });
        // @ts-ignore
        new simpleParallax(image2, {
          overflow: true,
          orientation: 'right',
        });
  }
  
  imgParallax();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", imgParallax);

</script>