---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import { SocialShare } from "astro-social-share";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, author, description, ogImage, canonicalURL, pubDatetime, tags } =
  post.data;

const { Content } = await post.render();

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
  ogImageUrl ?? `/posts/${slugifyStr(title)}.png`,
  Astro.url.origin
).href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
>
  <Header />
  <div class="mx-auto mt-24 flex w-full max-w-5xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content" class="bg-skin-fill z-10">
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <div class="flex items-center">
      <Datetime datetime={pubDatetime} size="lg" className="my-2 mr-4" />by : {author}
    </div>
    
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-5xl">
      <Content />
    </article>

    <hr class="border-skin-line mt-8" />

    <ul class="tags-container">
      {tags.map(tag => <Tag name={slugifyStr(tag)} />)}
    </ul>

    <SocialShare
      description="Description of the page/post"
      via="YourTwitterAccount"
      title="Page Title"
    />

  </main>
  <hr class="border-skin-line mb-44 sm:mb-[75px]" />
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-5xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl sm:text-4xl font-bold;
  }
  .tags-container {
    @apply my-8;
  }
</style>
